/* Homepage CATEGORIES Style*/

#container-categories{
    grid-template-columns: repeat(2, auto);

    /*- BACKGROUND --------*/
    background-color: black;
    /*---------------------*/

    /*- SIZE --------------*/
    width: 65%;
    height: auto;
    /*---------------------*/
}

#container-categories div{
	 /*- BACKGROUND ---------*/
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /*---------------------*/

    /*- SIZE --------------*/
    height:500px;
    padding: 5px;
    margin: 2px;
    /*---------------------*/

    text-align: center;
}

#container-categories div .category{
    color:red;
    font-size: x-large;
}
