/*PRODUCT LIST Style*/

#categories-in-product {
    background-color: black;
    flex-direction: column;
    flex-wrap: nowrap;

    /*- SIZE --------------*/
    width: min-content;
    /*---------------------*/
}

#categories-in-product div {
    /*- SIZE --------------*/
    width: 150px;
    height: 150px;
    /*---------------------*/

    /*- BACKGROUND --------*/
    background-color: white;
    /*---------------------*/

    /*- POSITION ----------*/
    padding: 5px;
    margin: 2px;
    text-align: center;
    /*---------------------*/
}

#products-container {
    grid-template-columns: repeat(2, auto);

    /*- BACKGROUND --------*/
    background-color: red;
    /*---------------------*/

    /*- SIZE --------------*/
    width: max-content;
    text-align: center;
    /*---------------------*/

    /*- POSITION ----------*/
    padding: 10px;
    margin-top: 5px;
    /*---------------------*/
}

#products-container .product{
    background-color: white;
    color: red;

    /*- SIZE --------------*/
    width: 400px;
    height: 400px;
    /*---------------------*/

    /* POSITION -----------*/
    padding: 20px;
    margin: 2px;
    text-align: center;
    /*---------------------*/
}

.product img{
    width: 300px;
    height: 300px;
}

.product #name{
    text-align: center;
}

.product #price{
    text-align: center;
}
