/* HOJA DE ESTILO EN LOG IN */

#log-in-body { /* Extends '.flex-container' class */
	background: black;
    flex-direction: row;
    /*- POSITION -----------*/
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    /*----------------------*/

}
#log-in-message{
    padding-right: 60px;
}
#form-container {
    border-left: 1px solid red;
    padding-left: 60px;
    position: relative;
    text-align: center;
}

.log-in-button{
    margin-top: 5px;
    display:inline;
    background-color: darkred;
    color: black;
    border: none;
    font-weight: bold;
    text-decoration: none;
    height: 40px;
    width: 150px;
}
.log-in-button a{
    color:black;
    font-weight: bold;
}
.log-in-button:hover{
    background-color: red;
}
