/* ESTILO EN LA HOJA DE SIGN UP */

#sign-up-container {
    grid-template-areas:
    	'name email'
    	'password password'
    	'address address'
    	'town postalCode'
    	'submit submit';
    /*- POSITION-----------*/
    width: 60%;
    padding: 10px;
    /*---------------------*/

    /*- BACKGROUND --------*/
    background: red;
    /*---------------------*/
}

#sign-up-container input {

    /*- BACKGROUND --------*/
    background-color: white;
    /*---------------------*/

    /*- POSITION ----------*/
    padding: 5px;
    margin: 10px;
    text-align: left;
    /*---------------------*/

    color: black;
}
